body {
  margin-left: 10%;
  margin-right: 10%;
}

img{
  width: 100%;
  max-width: 225px;
  max-height: 250px;
  margin: 10px;
}
table{
  background-color: #55595c;
}
.homeStation{
  background-color: #0275d8;
}
.alternate{
  background-color: #5bc0de;
}
.greenLight{
  background-color: #5cb85c;
}
.yellowLight{
  background-color: #f0ad4e;
}
.redLight{
  background-color: #d9534f;
}
.darkBackground{
  background-color: #55595c;
}
