body {
  margin-left: 10%;
  margin-right: 10%;
}

img,
button {
  width: 100%;
  max-width: 225px;
  max-height: 250px;
  margin: 10px;
}
pre {
  height: 20%;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}